# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [ ]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [ ]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

In [2]:
a = [1, 2, 3, 4, 5, 6]
print(a[3:])

[4, 5, 6]

In [3]:
# create a list of numbers from 1 to 20

In [5]:
a = []
for x in range (20):
    a.append(x+1)
print (a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

In [12]:
a = []
for x in range(1,101):
    if (x)%2 == 0 :
        a.append(x)
print (a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [7]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

In [ ]:
def divide(num1,num2):
    number = num1/num2
    return number

In [8]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

In [17]:
for x in range (1,31):
    if (x%3 == 0 and x%5 == 0):
        print ("fizzbuzz")
    elif x%3 == 0:
        print ("fizz")
    elif x%5 == 0:
        print ("buzz")
    else:
        print (x)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [16]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

In [ ]:
dict = {"Gyro":9,"Burger":9,"Greek Salad":8,"Philly Steak":10}

In [ ]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

In [9]:
import numpy as np
import pandas as pd

df = pd.read_csv("../data/starbucks.csv")
type(df)

pandas.core.frame.DataFrame

In [5]:
# select all rows with more than and including 400 calories

In [ ]:
df[df["calories"] > 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:
df[df['vitamin C'] > df['iron']]

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [ ]:
df['caffeinepercalories'] = df['caffeine'] / df['calories']

In [ ]:
# what is the average calorie across all items?

In [ ]:
df['calories'].mean()

In [ ]:
# how many different categories of beverages are there?

In [ ]:
df['beverage_category'].nunique()

In [ ]:
# what is the average # calories for each beverage category?

In [10]:
import numpy as np
import pandas as pd

df = pd.read_csv("../data/starbucks.csv")
type(df)

avgcalories = df.groupby('beverage_category')['calories'].mean()

print (avgcalories)

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64